.ui-dialog {
    border: 8px solid #e9decf;
    background-color: #fff;
    margin: auto;
    color: #444;
    width: 656px;
    z-index: 9000000;
}

.ui-dialog-titlebar {
    background-color: #e9decf;
    font-family: BentonSans, Helvetica, Arial, sans-serif;
    font-size: 24px;
    line-height: 24px;
    color: #333;
    border-bottom: 8px solid #e9decf;
}

.ui-dialog-titlebar-close {
    margin: 0;
    border: 0;
    right: 4px;
    top: 4px;
    position: absolute;
    background: no-repeat url("http://media.ft.com/m/img/overlay_close.png") transparent ;
    text-indent: -9999em;
    overflow: hidden;
    display: block;
    width: 18px;
    height: 18px;
    padding: 0;
}

.gpBody {
    padding: 32px 16px 16px;
    font-size: 15px;
    font-family: BentonSans, Helvetica, Arial, sans-serif;
}

.gpBody h2{
    font-weight: bold;
    margin: 16px 0;
    color: #6e6e6e;
}

.gpBody p {
    margin: 16px 0 40px;
}

.gp-field {
    margin: 24px 0;
    position: relative;
}

.gp-field label {
    display: inline-block;
    text-align: right;
    padding-right: 8px;
    width: 192px;
}
.gp-field input {
    width: 250px;
    vertical-align: middle;
    padding: 4px;
}

.gp-field textarea {
    width: 400px;
    height: 120px;
    vertical-align: top;
    padding: 5px;
}

.gp-field p, p.small {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    margin-bottom: 0;
}

.gp-field p {
    text-align: right;
    margin: 0 5px 0 0;
}

.gp-field ul {
    vertical-align: top;
    display: inline-block;
}

.gp-field ul li {
    margin: 24px 0 0 0;
    position: relative;
    display: none;
}

.gp-field ul li.first {
    margin-top:0;
    display: inline-block;
}

.gp-field .gp-add {
    display: inline-block;
    width: 26px;
    height: 26px;
    font-size: 17px;
    line-height: 26px;
    overflow: hidden;
    text-indent: -9999em;
    background: url("/guestpass/assets/perm/images/plusmark.png") transparent no-repeat center center;
    cursor: pointer;
    vertical-align: middle;
}

.gp-field .disable {
    opacity: 0.5;
    color: #777;
}

.gp-field .disable:hover {
    color: #777;
    cursor: default;
}

.gp-field .wrong {
    border-color: #cc0000;
}

.gp-field .info {
    font-size: 13px;
    position:absolute;
    bottom: -18px;
    left: 204px;
}

.gp-field .error {
    color: #cc0000;
}

.gp-field ul li .info {
    left: 0;
}

.gpBody button {
	margin: 0 10px;
}

.gpBody .sendButton {
    margin-left: 204px;
}

.gpBody .cancelButton {
	border: 0;
	background: transparent;
	color: #2e6e9e;
	padding: 0;
}

.gpBody .cancelButton:hover,
.gpBody .cancelButton:focus {
	color: #000;
}

ul.center {
    text-align: center;
    margin: 16px 0 40px;
}